
.venv/
venv/
env/


__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.ruff_cache/
.mypy_cache/

.ipynb_checkpoints/


*.csv
*.xlsx
*.xls
*.parquet
*.feather


_*/**
!_*/.gitkeep


.env
.env.*
token.txt

*.log

Thumbs.db
Desktop.ini
.DS_Store

.vscode/
.idea/
.spyproject/
.spyderproject

script_py/data_extraction
